<footer class="footer mt-auto py-3">
  <div class="container">
    <div class="footer-copyright text-center py-3" style="color: azure;">© 2020 Copyright:
        <a href="/"> Web e-commerce</a>
    </div>
  </div>
</footer>